.vscode/
data/
html/
metrixpp.db
makefile.bak
example-code/insecure-coding-examples-master/.gitignore
example-code/insecure-coding-examples-master/CMakeLists.txt
example-code/insecure-coding-examples-master/exploitable/
example-code/insecure-coding-examples-master/mitigation/
example-code/insecure-coding-examples-master/practice/
example-code/insecure-coding-examples-master/vulnerability/